version: "3.2"

services:
  madara:
    image: ghcr.io/keep-starknet-strange/madara:latest
    ports:
      - "9615:9615"
      - "9944:9944"
      - "30333:30333"
    command:
      - "--rpc-external"
      - "--rpc-methods=unsafe"
      - "--dev"
    networks:
      - internal

  # -------------
  # Substrate app
  # -------------
  madara-app:
    image: ghcr.io/keep-starknet-strange/madara-app:latest
    ports:
      - "8080:80"
    environment:
      WS_URL: "ws://127.0.0.1:9944"

  # --------
  # Starkcet
  # --------
  starkcet-front:
    image: ghcr.io/zizou0x/starkcet-frontend:latest
    depends_on:
      - starkcet-back
    ports:
      - 3001:3000
    networks:
      - internal

  starkcet-back:
    image: ghcr.io/zizou0x/starkcet-backend:latest
    depends_on:
      madara:
        condition: service_healthy
    environment:
      - PRIVATE_KEY=0x00c1cf1490de1352865301bb8705143f3ef938f97fdf892f1090dcb5ac7bcd1d
      - STARKNET_ACCOUNT_ADDRESS=0x2
      - TOKEN_ADDRESS=0x49d36570d4e46f48e99674bd3fcc84644ddd6b96f7c741b1562b82f9e004dc7
      - RPC_URL=http://madara:9944
      - AMOUNT_TRANSFERED=1000000000000000
    networks:
      - internal

  starksheet-deployer:
    image: ghcr.io/the-candy-shop/starksheet-monorepo/starksheet-cairo:latest
    depends_on:
      madara:
        condition: service_healthy
    environment:
      ACCOUNT_ADDRESS: "0x3"
      PRIVATE_KEY: "0x00c1cf1490de1352865301bb8705143f3ef938f97fdf892f1090dcb5ac7bcd1d"
      RPC_URL: http://madara:9944
    volumes:
      - starksheet-deployments:/app/starksheet/packages/starksheet-cairo/deployments
      - starksheet-build:/app/starksheet/packages/starksheet-cairo/build
    networks:
      - internal

  starksheet-webapp:
    image: ghcr.io/the-candy-shop/starksheet-monorepo/starksheet-webapp:latest
    depends_on:
      starksheet-deployer:
        condition: service_completed_successfully
    volumes:
      - starksheet-deployments:/app/starksheet/packages/starksheet-cairo/deployments/madara
      - starksheet-build:/app/starksheet/packages/starksheet-cairo/build
    environment:
      - REACT_APP_NETWORK=madara
      - REACT_APP_RPC_URL=http://0.0.0.0:9944
      - PORT=3003
    ports:
      - "3003:3003"
    networks:
      - internal

  kakarot-deployer:
    image: ghcr.io/kkrt-labs/kakarot/deployer:latest
    depends_on:
      madara:
        condition: service_healthy
    environment:
      ACCOUNT_ADDRESS: "0x3"
      PRIVATE_KEY: "0x00c1cf1490de1352865301bb8705143f3ef938f97fdf892f1090dcb5ac7bcd1d"
      RPC_URL: http://madara:9944
      EVM_PRIVATE_KEY: "0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80"
    volumes:
      - kakarot-deployments:/app/kakarot/deployments
    networks:
      - internal

  kakarot-deployments-parser:
    image: apteno/alpine-jq:2023-07-24
    depends_on:
      kakarot-deployer:
        condition: service_completed_successfully
    entrypoint:
      - "/bin/sh"
      - "-c"
      - |
        echo "KAKAROT_ADDRESS=$(jq -r '.kakarot.address' /deployments/deployments.json)" > /deployments/.env;
        echo "PROXY_ACCOUNT_CLASS_HASH=$(jq -r '.proxy' /deployments/declarations.json)" >> /deployments/.env
    volumes:
      - kakarot-deployments:/deployments

  kakarot-rpc:
    image: ghcr.io/kkrt-labs/kakarot-rpc/node:latest
    depends_on:
      kakarot-deployments-parser:
        condition: service_completed_successfully
    ports:
      - 3030:3030
    environment:
      KAKAROT_HTTP_RPC_ADDRESS: "0.0.0.0:3030"
      STARKNET_NETWORK: http://madara:9944
      EVM_PRIVATE_KEY: "0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80"
      RUST_LOG: trace
    volumes:
      - kakarot-deployments:/usr/src/app
    restart: on-failure
    networks:
      - internal
    # Hack, remove when kakarot-rpc adds a HEALTHCHECK
    healthcheck:
      test: ["CMD", "echo", "ok"]
      interval: 5s

  kakasheet-deployer:
    image: ghcr.io/the-candy-shop/starksheet-monorepo/starksheet-solidity:latest
    depends_on:
      kakarot-rpc:
        condition: service_healthy
    environment:
      RPC_URL: http://kakarot-rpc:3030
      PRIVATE_KEY: "0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80"
    volumes:
      - kakasheet-broadcast:/app/starksheet/packages/starksheet-solidity/broadcast
      - kakasheet-out:/app/starksheet/packages/starksheet-solidity/out
    networks:
      - internal

  kakasheet-webapp:
    image: ghcr.io/the-candy-shop/starksheet-monorepo/starksheet-webapp:latest
    depends_on:
      kakasheet-deployer:
        condition: service_completed_successfully
    volumes:
      - kakasheet-broadcast:/app/starksheet/packages/starksheet-solidity/broadcast
      - kakasheet-out:/app/starksheet/packages/starksheet-solidity/out
    environment:
      - REACT_APP_NETWORK=kakarot
      - REACT_APP_RPC_URL=http://0.0.0.0:3030
      - PORT=3004
    ports:
      - "3004:3004"
    networks:
      - internal

  madara-swap-deployer:
    image: ghcr.io/keep-starknet-strange/madara-swap/contracts:latest
    depends_on:
      madara:
        condition: service_healthy
    environment:
      ACCOUNT_ADDRESS: "0x3"
      PRIVATE_KEY: "0x00c1cf1490de1352865301bb8705143f3ef938f97fdf892f1090dcb5ac7bcd1d"
      RPC_URL: http://madara:9944
    volumes:
      - madara-swap-deployments:/app/madara-swap/packages/contracts/deployments
    networks:
      - internal

  # -------
  # Starken
  # -------
  starken-database:
    image: mongo:6-jammy
    ports:
      - 27017:27017
    volumes:
      - dbdata:/data/db

  starken-indexer:
    image: mathitchens/starken-madara-indexer:starken-madara-indexer
    depends_on:
      - starken-database
    environment:
      - MONGODB_URI=mongodb://starken-database:27017
      - PORT=5060
      - INDEXER=MADARA
      - API_ROUTE=https://api.coingecko.com/api/v3
      - APIBARA_KEY=dna_lK9j29Vfw1EzAWnk8nU1

  starken-api:
    image: mathitchens/starken-madara-api:starken-madara-api
    depends_on:
      - starken-database
      - starken-indexer
    ports:
      - 5055:5055
    environment:
      - MONGODB_URI=mongodb://starken-database:27017
      - PORT=5055

  starken-frontend:
    image: mathitchens/starken-madara-frontend:starken-madara-frontend
    depends_on:
      - starken-api
    ports:
      - 3002:3000
    environment:
      - NEXT_PUBLIC_FRONTEND_URL=http://localhost:3000
      - NEXT_PUBLIC_STARKEN_API_URL=http://localhost:5055

  # -------
  # Apibara
  # -------
# blocked while no arm64
#  apibara:
#    image: quay.io/apibara/starknet:7f00306001c1ff030ccc1babf49b880dbe6c7e0e
#    depends_on:
#      madara:
#       condition: service_healthy
#    ports:
#      - 7171:7171
#    command:
#      - start
#    environment:
#      - RPC=http://madara:9944
#      - WAIT_FOR_RPC=true
#      - RUST_LOG=warn
#    restart: on-failure
#    networks:
#      - internal

volumes:
  dbdata:
  starksheet-deployments:
  starksheet-build:
  kakarot-deployments:
  madara-swap-deployments:
  kakasheet-broadcast:
  kakasheet-out:
networks:
  internal:
